.app__main-actions-container {
  display: flex;
  flex-direction: column;
}

.app__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app__main-actions-container > button:first-of-type {
  margin-bottom: 2rem;
}

.app__work-actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.app__services-links {
  display: flex;
  flex-direction: column;
}

.app__services-links .link {
  margin-bottom: 2rem;
}

.app__current-word {
  font-size: 2.5em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  margin-top: .5em;
}

.app__word-types {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.app__word-types > div {
  margin: 0 20px;
}

.app__review-buttons-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.app__modal-body {
  position: relative;
  background: #fafafa;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  overflow-y: auto;
  margin-top: 10%;
  padding: 10px;
}

.app__modal-body-title {
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 0;
  margin-bottom: 15px;
}

.app__modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.app__sentence-example em {
  color: red;
}